[Desktop Entry]
Name=Endfield Launcher
Icon=endfield-launcher
Exec=/usr/bin/endfield-launcher
Type=Application
Categories=Game
Terminal=false
Keywords=endfield;game;launcher
